<div style="background-color: #8AC53F; min-height: 100vh;height: auto;">
<mat-toolbar>
  <mat-toolbar-row >
    <button mat-icon-button disabled>
      <mat-icon>search</mat-icon>
    </button>
    <input
      class="search-control"
      type="text"
      placeholder="Search Users"
      [(ngModel)]="searchText"
    />
    <button mat-button mat-icon-button (click)="searchClose()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-list  style="margin-left:5%">
  <mat-list-item *ngFor="let item of profiles  | filter: searchText">
    <img matListAvatar src="https://i.pinimg.com/originals/6c/67/8c/6c678c23d360432d5dad8c4aae4d48ca.gif"/>
    <div class="user">{{ item.first_name}}</div>
    <div class="user">{{ item.last_name}}</div>
    <button mat-raised-button>
      <div class="icon-holder">
          Add friend
      </div>
    </button>
  </mat-list-item>
  <mat-list-item *ngIf="(profiles| filter: searchText).length === 0">
    <mat-icon mat-list-avatar>error</mat-icon>
    <div mat-line>0 results</div>
  </mat-list-item>
  
</mat-list>
</div>