<img class="img_register" [src]="register.image">
<div class="container">
<form>
    <img >
      <h1>Register</h1>
      <hr>
      <label for="nickname"><b>Nickname</b></label>
      <input type="text" placeholder="Enter Your Nickname" name="nickname" id="nickname" required>

      <label for="firstName"><b>First Name</b></label>
      <input type="text" placeholder="Enter First Name" name="firstName" id="firstName" required>

      <label for="lastName"><b>Last Name</b></label>
      <input type="text" placeholder="Enter Last Name" name="lastName" id="lastName" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
      <hr>
    </form>
  
      <button type="submit" class="register_btn">Register</button>

    
    <div>
      <p>  Already have an account? <a href="#">Login</a>.</p>
    </div>
  </div>

