.mat-button{
    font-size: x-large;
    font-weight: bold;
   
 }

 mat-toolbar {
    background: rgb(0, 4, 4);
    color: #8AC53F;
    
 }

 .header_detail{
   position: fixed; 
   top: 0;
   z-index: 100;
  }

.username {
   margin-right:30px;
   margin-left: auto;
}