
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bg">
    <fieldset class="friends">
        <legend><mat-icon class="icon-display" class="material-icons color" >group</mat-icon><strong>Friends</strong></legend>
        <form class="example" action="/action_page.php">
            <input type="text" placeholder="Search" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
          <fieldset>
            <ul class="friend-list collection">
                <li class="collection-item avatar" ng-repeat="friend in friends track by friend.id">
                    <!-- <user-avatar></user-avatar> -->
                    <!-- <div class="login">{{friend.login}}</div> -->
                    <p>aa</p>
                </li>
            </ul>
          </fieldset>
          <fieldset>
            <ul class="friend-list collection">
                <li class="collection-item avatar" ng-repeat="friend in friends track by friend.id">
                    <p>aa</p>
                </li>
            </ul>
          </fieldset>
          
   </fieldset>

</div>